<?xml version="1.0"?>
<launch>
  <arg name="model" default="waffle" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="1.0"/>
  <arg name="y_pos" default="-2.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="Y" default="1.5708"/>
    <!-- Launch Empty Gazebo World -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="gui" value="true"/>
      <arg name="paused" value="true"/>
    </include>
    <!-- Spawn each brick -->
    <node name="spawn_brick0" pkg="gazebo_ros" type="spawn_model"
          args="-file $(find arm_gazebo)/models/mbzirc_red_brick/mbzirc_red_brick.sdf -sdf -x 0.15 -y 0.1 -z 0.1 -Y 0 -model brick_0" />
    <node name="spawn_brick1" pkg="gazebo_ros" type="spawn_model"
          args="-file $(find arm_gazebo)/models/mbzirc_orange_brick/mbzirc_orange_brick.sdf -sdf -x 1.205 -y 0.1 -z 0.1 -Y 0 -model brick_1" />
    <node name="spawn_brick2" pkg="gazebo_ros" type="spawn_model"
          args="-file $(find arm_gazebo)/models/mbzirc_green_brick/mbzirc_green_brick.sdf -sdf -x 2.41 -y 0.1 -z 0.1 -Y 0 -model brick_2" />
    <node name="spawn_brick3" pkg="gazebo_ros" type="spawn_model"
          args="-file $(find arm_gazebo)/models/mbzirc_green_brick/mbzirc_green_brick.sdf -sdf -x 0.5 -y 0.1 -z 0.3 -Y 0 -model brick_3" />
    <node name="spawn_brick4" pkg="gazebo_ros" type="spawn_model"
          args="-file $(find arm_gazebo)/models/mbzirc_blue_brick/mbzirc_blue_brick.sdf -sdf -x 1.405 -y 0.1 -z 0.3 -Y 0 -model brick_4" />
    <node name="spawn_brick5" pkg="gazebo_ros" type="spawn_model"
          args="-file $(find arm_gazebo)/models/mbzirc_red_brick/mbzirc_red_brick.sdf -sdf -x 2.16 -y 0.1 -z 0.3 -Y 0 -model brick_5" />
    <node name="spawn_brick6" pkg="gazebo_ros" type="spawn_model"
          args="-file $(find arm_gazebo)/models/mbzirc_blue_brick/mbzirc_blue_brick.sdf -sdf -x 1.2 -y 0.1 -z 0.5 -Y 0 -model brick_6" />
    <node name="spawn_brick7" pkg="gazebo_ros" type="spawn_model"
          args="-file $(find arm_gazebo)/models/mbzirc_red_brick/mbzirc_red_brick.sdf -sdf -x 1.955 -y 0.1 -z 0.5 -Y 0 -model brick_7" />

          <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

          <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"
                args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg Y) -param robot_description" />
</launch>
