<?xml version="1.0"?>
<launch>
    <!-- Launch Empty Gazebo World -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="gui" value="true"/>
      <arg name="paused" value="true"/>
    </include>
    <!-- Spawn each brick -->
    <node name="spawn_brick0" pkg="gazebo_ros" type="spawn_model"
          args="-file $(find arm_gazebo)/models/mbzirc_orange_brick/mbzirc_orange_brick.sdf -sdf -x 0.9 -y 0.1 -z 0.1 -Y 0 -model brick_0" />
    <node name="spawn_brick1" pkg="gazebo_ros" type="spawn_model"
          args="-file $(find arm_gazebo)/models/mbzirc_blue_brick/mbzirc_blue_brick.sdf -sdf -x 0.9 -y 0.1 -z 0.3 -Y 0 -model brick_1" />
    <node name="spawn_brick2" pkg="gazebo_ros" type="spawn_model"
          args="-file $(find arm_gazebo)/models/mbzirc_orange_brick/mbzirc_orange_brick.sdf -sdf -x 0.9 -y 0.1 -z 0.5 -Y 0 -model brick_2" />
</launch>
